/* основные элементы */
.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gamefield {
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.central {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 30px;
}
/* квадраты */
.standart {
    background: #21ada4;
}
.betterSquad {
    background-color: rgb(68, 99, 156);
}
.negativeSquade {
    background-color: red;
}

/* движущиеся квадраты */
.corner {
    width: 30px;
    height: 30px;
    position: absolute;
    animation: expansionSquare 1s linear forwards;
}
.betterSquad {
    background:rgb(42, 33, 95)
}
.negativeSquade {
    background: red;
}

@keyframes expansionSquare {
    0% {
        width: 0;
        height: 0;
    }
    100% {
    width: 30px;
    height: 30px;
    }
}

.moveToCenter {
    animation: moveToCenter 2.5s ease-in;
}
@keyframes moveToCenter {
    100% {
          top: 50%; 
          bottom: 50%; 
          left: 50%; 
          right: 50%; 
          width: 0; 
          height: 0;
        }
}

/* СТАТИСТИКА */
.stats {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(149, 201, 214);
    width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
}
.stats_item {
    flex-grow: 2;
}

.hide {
    display: none;
}
.show {
    display: block;
}

/* стрелки */
.arrows img {
    max-height: 70px;
}

/* таймер */
.timer {
    display: flex;
    justify-content: center;
}

.ours, .minutes, .seconds {
    margin-right: 10px;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
}

/* счёт */
.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* профиль */

/* конец игры */
.gameover {
    display: none;
    width: 100vw;
    height: 100vh;
    background: #000;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    animation: rise 1.5s;
}
@keyframes rise {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
.gameover p {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}